*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.container-fluid{
    height: 10vh;
}

.container-fluid a{
    height: 100%;
    display: inline-block;
    padding: 0;
}

.container-fluid a img{
    height: 100%;
}

/* main */
#grid-container{
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
}

.bg-main{
    background-color: aquamarine;
}

a:hover{
    color: white;
}

.focus{
    background-color: #6495ed;
    color: white;
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    background: radial-gradient(black, transparent);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

/* footer */
footer{
    height: 10vh;
}

.footer-vrt-align{
    line-height: 10vh;
}